Unified Bi-Directional GitHub Repository Sync Merged Multiple Files Processing.json
{
  "name": "Unified Bi-Directional GitHub Repository Sync Merged Multiple Files Processing",
  "nodes": [
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "ptechfusion19"
        },
        "repository": {
          "__rl": true,
          "value": "Repo-A",
          "mode": "name"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -3680,
        176
      ],
      "id": "f73b4f04-a8be-4827-8210-bd474e0c7713",
      "name": "GitHub Trigger Repo-A",
      "webhookId": "unified-repo-a-trigger",
      "credentials": {
        "githubApi": {
          "id": "ZKGYvxYBw2xUEuaV",
          "name": "GitHub Account2"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "ptechfusion19"
        },
        "repository": {
          "__rl": true,
          "value": "Repo-B",
          "mode": "name"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -3680,
        384
      ],
      "id": "13aaff38-d1c1-4ae8-b402-238145748bae",
      "name": "GitHub Trigger Repo-B",
      "webhookId": "unified-repo-b-trigger",
      "credentials": {
        "githubApi": {
          "id": "ZKGYvxYBw2xUEuaV",
          "name": "GitHub Account2"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "ptechfusion19"
        },
        "repository": {
          "__rl": true,
          "value": "Org_Testing_Repo",
          "mode": "name"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -3680,
        576
      ],
      "id": "8bcc3485-1477-4833-a9b7-a2a980209c54",
      "name": "GitHub Trigger Org_Testing_Repo",
      "webhookId": "unified-org-testing-trigger",
      "credentials": {
        "githubApi": {
          "id": "ZKGYvxYBw2xUEuaV",
          "name": "GitHub Account2"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "Ramzanx0553",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Per_Testing_Repo",
          "mode": "name"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -3680,
        784
      ],
      "id": "3cd97aef-b28d-4f2b-87a6-b6c6d1c0fa57",
      "name": "GitHub Trigger Per_Testing_Repo",
      "webhookId": "unified-per-testing-trigger",
      "credentials": {
        "githubApi": {
          "id": "ZKGYvxYBw2xUEuaV",
          "name": "GitHub Account2"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "wajeehaafi-alt",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Repo1",
          "mode": "list",
          "cachedResultName": "Repo1",
          "cachedResultUrl": "https://github.com/wajeehaafi-alt/Repo1"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -3680,
        976
      ],
      "id": "13959d39-1f93-472b-bd12-eff8088185b5",
      "name": "GitHub Trigger Repo1",
      "webhookId": "unified-repo1-trigger",
      "credentials": {
        "githubApi": {
          "id": "ZkFyEqCO3B3XoywZ",
          "name": "GitHub Account 3"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "Ramzanx0553",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Repo2",
          "mode": "list",
          "cachedResultName": "Repo2",
          "cachedResultUrl": "https://github.com/Ramzanx0553/Repo2"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -3680,
        1184
      ],
      "id": "27106be7-ba4f-428d-a14d-ec6c77cabe0d",
      "name": "GitHub Trigger Repo2",
      "webhookId": "unified-repo2-trigger",
      "credentials": {
        "githubApi": {
          "id": "ZKGYvxYBw2xUEuaV",
          "name": "GitHub Account2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "main-branch",
              "leftValue": "={{ $json.body.ref }}",
              "rightValue": "refs/heads/main",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "not-sync",
              "leftValue": "={{ $json.body.head_commit.message }}",
              "rightValue": "Sync from Repo",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3296,
        704
      ],
      "id": "0e95011f-61fb-4050-a4eb-e68b63e8aba5",
      "name": "Filter Branch & Sync Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "source-owner",
              "name": "sourceOwner",
              "value": "={{ $json.body.repository.owner.login }}",
              "type": "string"
            },
            {
              "id": "source-repo",
              "name": "sourceRepo",
              "value": "={{ $json.body.repository.name }}",
              "type": "string"
            },
            {
              "id": "branch-name",
              "name": "branchName",
              "value": "=sync-from-{{ $json.body.repository.name }}-{{ $now.toMillis() }}",
              "type": "string"
            },
            {
              "id": "commit-message",
              "name": "commitMessage",
              "value": "={{ $json.body.head_commit.message }}",
              "type": "string"
            },
            {
              "id": "commit-sha",
              "name": "commitSha",
              "value": "={{ $json.body.after }}",
              "type": "string"
            },
            {
              "id": "author-name",
              "name": "authorName",
              "value": "={{ $json.body.head_commit.author.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3056,
        688
      ],
      "id": "f3ffdb01-de3c-49b2-be88-4684f864b390",
      "name": "Set Source Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "owner-check",
                    "leftValue": "={{ $json.sourceOwner }}",
                    "rightValue": "ptechfusion19",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "repo-check",
                    "leftValue": "={{ $json.sourceRepo }}",
                    "rightValue": "Repo-A",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "owner-check",
                    "leftValue": "={{ $json.sourceOwner }}",
                    "rightValue": "ptechfusion19",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "repo-check",
                    "leftValue": "={{ $json.sourceRepo }}",
                    "rightValue": "Repo-B",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "owner-check",
                    "leftValue": "={{ $json.sourceOwner }}",
                    "rightValue": "ptechfusion19",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "repo-check",
                    "leftValue": "={{ $json.sourceRepo }}",
                    "rightValue": "Org_Testing_Repo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "owner-check",
                    "leftValue": "={{ $json.sourceOwner }}",
                    "rightValue": "Ramzanx0553",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "repo-check",
                    "leftValue": "={{ $json.sourceRepo }}",
                    "rightValue": "Per_Testing_Repo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "owner-check",
                    "leftValue": "={{ $json.sourceOwner }}",
                    "rightValue": "wajeehaafi-alt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "repo-check",
                    "leftValue": "={{ $json.sourceRepo }}",
                    "rightValue": "Repo1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "owner-check",
                    "leftValue": "={{ $json.sourceOwner }}",
                    "rightValue": "Ramzanx0553",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "repo-check",
                    "leftValue": "={{ $json.sourceRepo }}",
                    "rightValue": "Repo2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2880,
        624
      ],
      "id": "22623a26-3ee9-4ed7-a11c-6879d78929d5",
      "name": "Switch Router"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target-owner",
              "name": "targetOwner",
              "value": "ptechfusion19",
              "type": "string"
            },
            {
              "id": "target-repo",
              "name": "targetRepo",
              "value": "Repo-B",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        144
      ],
      "id": "43e61453-5b3f-49b4-974f-dadb796e9b93",
      "name": "Set Target: Repo-A → Repo-B"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target-owner",
              "name": "targetOwner",
              "value": "ptechfusion19",
              "type": "string"
            },
            {
              "id": "target-repo",
              "name": "targetRepo",
              "value": "Repo-A",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2560,
        464
      ],
      "id": "a21559d5-fb8b-4571-958f-574668fbad50",
      "name": "Set Target: Repo-B → Repo-A"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target-owner",
              "name": "targetOwner",
              "value": "Ramzanx0553",
              "type": "string"
            },
            {
              "id": "target-repo",
              "name": "targetRepo",
              "value": "Per_Testing_Repo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        816
      ],
      "id": "e7599dca-4653-41e9-8128-9c09e368bb92",
      "name": "Set Target: Org_Testing → Per_Testing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target-owner",
              "name": "targetOwner",
              "value": "ptechfusion19",
              "type": "string"
            },
            {
              "id": "target-repo",
              "name": "targetRepo",
              "value": "Org_Testing_Repo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2528,
        1216
      ],
      "id": "f2df2131-bb93-4795-bcec-2b88cb50e08d",
      "name": "Set Target: Per_Testing → Org_Testing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target-owner",
              "name": "targetOwner",
              "value": "Ramzanx0553",
              "type": "string"
            },
            {
              "id": "target-repo",
              "name": "targetRepo",
              "value": "Repo2",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2512,
        1568
      ],
      "id": "5c86f197-6b86-420f-8c54-34174d0855f7",
      "name": "Set Target: Repo1 → Repo2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target-owner",
              "name": "targetOwner",
              "value": "wajeehaafi-alt",
              "type": "string"
            },
            {
              "id": "target-repo",
              "name": "targetRepo",
              "value": "Repo1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2528,
        1872
      ],
      "id": "7bbff895-0eb9-46cf-b986-bdef23089046",
      "name": "Set Target: Repo2 → Repo1"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo-A → Repo-B').item.json.targetOwner }}/{{ $('Set Target: Repo-A → Repo-B').item.json.targetRepo }}/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2304,
        144
      ],
      "id": "a4d39a92-acaf-4795-ba9a-e701be633850",
      "name": "Get SHA",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo-A → Repo-B').item.json.targetOwner }}/{{ $('Set Target: Repo-A → Repo-B').item.json.targetRepo }}/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/{{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.object.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2112,
        144
      ],
      "id": "0ad30bea-994e-46f8-9922-b86b84f7dc4a",
      "name": "Create Branch",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Source Fields').item.json.sourceOwner }}/{{ $('Set Source Fields').item.json.sourceRepo }}/commits/{{ $('Set Source Fields').item.json.commitSha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1904,
        144
      ],
      "id": "3cb13258-0c4d-43ec-8fc8-cf61d15f3d55",
      "name": "Get Commit Details",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1712,
        144
      ],
      "id": "e295903a-0124-42f3-933f-ecbe9edfaa2e",
      "name": "Split Out Files"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "not-deleted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "removed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1536,
        144
      ],
      "id": "31a5117a-b992-45f3-ba59-8937c4881116",
      "name": "If Not Deleted"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Source Fields').item.json.sourceOwner }}/{{ $('Set Source Fields').item.json.sourceRepo }}/contents/{{ encodeURIComponent($json.filename) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1312,
        128
      ],
      "id": "151ac9b5-af4a-43fa-88cb-3f640df17f41",
      "name": "Get File Content",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo-A → Repo-B').item.json.targetOwner }}/{{ $('Set Target: Repo-A → Repo-B').item.json.targetRepo }}/contents/{{ encodeURIComponent($json.path) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1104,
        128
      ],
      "id": "5d70b33e-03b6-4094-ac6a-6167cb9d45dc",
      "name": "Check If File Exists",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "={{ String($json.status || $json.statusCode || 404).toNumber() }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -912,
        128
      ],
      "id": "437bcf0d-318e-4439-9c12-13b10c0c6164",
      "name": "If File Exists"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo-A → Repo-B').item.json.targetOwner }}/{{ $('Set Target: Repo-A → Repo-B').item.json.targetRepo }}/contents/{{ encodeURIComponent($('Get File Content').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from {{ $('Set Source Fields').item.json.sourceRepo }}: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $('Check If File Exists').item.json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -704,
        16
      ],
      "id": "a4a50694-5906-4d00-ac23-46a3afecd4b2",
      "name": "Update Existing File",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo-A → Repo-B').item.json.targetOwner }}/{{ $('Set Target: Repo-A → Repo-B').item.json.targetRepo }}/contents/{{ encodeURIComponent($('Get File Content').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from {{ $('Set Source Fields').item.json.sourceRepo }}: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -704,
        176
      ],
      "id": "95bd45b8-479f-43e3-8f27-cde8a6eb2cf5",
      "name": "Create New File",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -496,
        128
      ],
      "id": "0b3f22ee-159e-4f83-8784-a88fa5c39936",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo-A → Repo-B').item.json.targetOwner }}/{{ $('Set Target: Repo-A → Repo-B').item.json.targetRepo }}/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🔄 Sync from {{ $('Set Source Fields').item.json.sourceRepo }}: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "body",
              "value": "=## Automated Sync from {{ $('Set Source Fields').item.json.sourceRepo }}\n\n**Commit Message:** {{ $('Set Source Fields').item.json.commitMessage }}\n\n**Commit SHA:** {{ $('Set Source Fields').item.json.commitSha }}\n\n**Author:** {{ $('Set Source Fields').item.json.authorName }}\n\n---\n*Auto-generated by n8n workflow*"
            },
            {
              "name": "head",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "base",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -304,
        128
      ],
      "id": "12546d79-c4be-488a-82bb-2e72064dc423",
      "name": "Create PR",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo-B → Repo-A').item.json.targetOwner }}/{{ $('Set Target: Repo-B → Repo-A').item.json.targetRepo }}/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2272,
        464
      ],
      "id": "648c1236-58ce-4343-887d-b02c0aec36a9",
      "name": "Get SHA1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo-B → Repo-A').item.json.targetOwner }}/{{ $('Set Target: Repo-B → Repo-A').item.json.targetRepo }}/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/{{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.object.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2080,
        464
      ],
      "id": "2ca9a45e-9a43-4ff7-8d4e-ff2e15aca0cc",
      "name": "Create Branch1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Source Fields').item.json.sourceOwner }}/{{ $('Set Source Fields').item.json.sourceRepo }}/commits/{{ $('Set Source Fields').item.json.commitSha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1872,
        464
      ],
      "id": "e92358e4-a630-4aa0-a775-a356874912a5",
      "name": "Get Commit Details1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1680,
        464
      ],
      "id": "2bb78f6c-05b7-431d-8906-59ec64dcd08e",
      "name": "Split Out Files1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "not-deleted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "removed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1504,
        464
      ],
      "id": "b9be0bf1-b9a8-4d26-892b-f7c525e843f5",
      "name": "If Not Deleted1"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Source Fields').item.json.sourceOwner }}/{{ $('Set Source Fields').item.json.sourceRepo }}/contents/{{ encodeURIComponent($json.filename) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        448
      ],
      "id": "e3524758-fd2e-4508-aab3-109117c2efea",
      "name": "Get File Content1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo-B → Repo-A').item.json.targetOwner }}/{{ $('Set Target: Repo-B → Repo-A').item.json.targetRepo }}/contents/{{ encodeURIComponent($json.path) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1072,
        448
      ],
      "id": "44c6c680-0ac0-4749-bf08-58d16c27dd57",
      "name": "Check If File Exists1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "={{ String($json.status || $json.statusCode || 404).toNumber() }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -880,
        448
      ],
      "id": "01685237-3d18-4d3a-87a2-d804357c60b9",
      "name": "If File Exists1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo-B → Repo-A').item.json.targetOwner }}/{{ $('Set Target: Repo-B → Repo-A').item.json.targetRepo }}/contents/{{ encodeURIComponent($('Get File Content1').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from {{ $('Set Source Fields').item.json.sourceRepo }}: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content1').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $('Check If File Exists1').item.json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -672,
        336
      ],
      "id": "cbf3ff3a-49bb-46ec-80ad-f43ba880f012",
      "name": "Update Existing File1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo-B → Repo-A').item.json.targetOwner }}/{{ $('Set Target: Repo-B → Repo-A').item.json.targetRepo }}/contents/{{ encodeURIComponent($('Get File Content1').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from {{ $('Set Source Fields').item.json.sourceRepo }}: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content1').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -656,
        496
      ],
      "id": "c5875ec7-947a-4488-8959-ffe5c04fbbb7",
      "name": "Create New File1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -464,
        448
      ],
      "id": "7dc1c761-37d2-4515-b6f7-952164eb1504",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo-B → Repo-A').item.json.targetOwner }}/{{ $('Set Target: Repo-B → Repo-A').item.json.targetRepo }}/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🔄 Sync from {{ $('Set Source Fields').item.json.sourceRepo }}: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "body",
              "value": "=## Automated Sync from {{ $('Set Source Fields').item.json.sourceRepo }}\n\n**Commit Message:** {{ $('Set Source Fields').item.json.commitMessage }}\n\n**Commit SHA:** {{ $('Set Source Fields').item.json.commitSha }}\n\n**Author:** {{ $('Set Source Fields').item.json.authorName }}\n\n---\n*Auto-generated by n8n workflow*"
            },
            {
              "name": "head",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "base",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        448
      ],
      "id": "a7b146eb-f8af-444b-a6ce-711a9158be28",
      "name": "Create PR1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Target: Org_Testing → Per_Testing').item.json.targetOwner }}/{{ $('Set Target: Org_Testing → Per_Testing').item.json.targetRepo }}/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2288,
        816
      ],
      "id": "3bccf3a0-3498-4945-8f37-abcc20b1693f",
      "name": "Get SHA2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Org_Testing → Per_Testing').item.json.targetOwner }}/{{ $('Set Target: Org_Testing → Per_Testing').item.json.targetRepo }}/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/{{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.object.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2096,
        816
      ],
      "id": "c641cdb0-e4b0-4073-994d-cc3d7afa0d35",
      "name": "Create Branch2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/commits/{{ $('Set Source Fields').item.json.commitSha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1888,
        816
      ],
      "id": "2b6f2c39-1fee-427f-b1ad-489420c94fa2",
      "name": "Get Commit Details2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1696,
        816
      ],
      "id": "7d5bbb29-6b71-436c-9668-a703853a89d3",
      "name": "Split Out Files2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "not-deleted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "removed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1488,
        816
      ],
      "id": "e8fcc55e-720d-4642-8e31-a857bf8c535f",
      "name": "If Not Deleted2"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Source Fields').item.json.sourceOwner }}/{{ $('Set Source Fields').item.json.sourceRepo }}/contents/{{ encodeURIComponent($json.filename) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1296,
        800
      ],
      "id": "5d3009e1-d42d-4b0f-9294-62509235b343",
      "name": "Get File Content2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Target: Org_Testing → Per_Testing').item.json.targetOwner }}/{{ $('Set Target: Org_Testing → Per_Testing').item.json.targetRepo }}/contents/{{ encodeURIComponent($json.path) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1088,
        800
      ],
      "id": "c112aaf5-9424-428e-8d25-1782236a327c",
      "name": "Check If File Exists2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "={{ String($json.status || $json.statusCode || 404).toNumber() }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -896,
        800
      ],
      "id": "7063c6f1-bd45-4560-a686-54882fae588b",
      "name": "If File Exists2"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Org_Testing → Per_Testing').item.json.targetOwner }}/{{ $('Set Target: Org_Testing → Per_Testing').item.json.targetRepo }}/contents/{{ encodeURIComponent($('Get File Content2').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-B: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content2').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $('Check If File Exists2').item.json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        688
      ],
      "id": "94131caa-e19d-4a2a-a60d-3251a9628528",
      "name": "Update Existing File2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Org_Testing → Per_Testing').item.json.targetOwner }}/{{ $('Set Target: Org_Testing → Per_Testing').item.json.targetRepo }}/contents/{{ encodeURIComponent($('Get File Content2').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-B: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content2').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        896
      ],
      "id": "92274d22-942c-446d-9a68-5e771c89a10e",
      "name": "Create New File2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -448,
        800
      ],
      "id": "97b8e620-0b0d-46c8-86d0-0023d962cbc2",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Org_Testing → Per_Testing').item.json.targetOwner }}/{{ $('Set Target: Org_Testing → Per_Testing').item.json.targetRepo }}/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🔄 Sync from {{ $('Set Source Fields').item.json.sourceRepo }}: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "body",
              "value": "=## Automated Sync from {{ $('Set Source Fields').item.json.sourceRepo }}\n\n**Commit Message:** {{ $('Set Source Fields').item.json.commitMessage }}\n\n**Commit SHA:** {{ $('Set Source Fields').item.json.commitSha }}\n\n**Author:** {{ $('Set Source Fields').item.json.authorName }}\n\n---\n*Auto-generated by n8n workflow*"
            },
            {
              "name": "base",
              "value": "main"
            },
            {
              "name": "head",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        800
      ],
      "id": "e56a73ed-a981-4618-86a0-0317daf932e7",
      "name": "Create PR2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Target: Per_Testing → Org_Testing').item.json.targetOwner }}/{{ $('Set Target: Per_Testing → Org_Testing').item.json.targetRepo }}/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2272,
        1216
      ],
      "id": "2bc09d8b-0fc6-4077-83fc-e0414135d151",
      "name": "Get SHA3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Per_Testing → Org_Testing').item.json.targetOwner }}/{{ $('Set Target: Per_Testing → Org_Testing').item.json.targetRepo }}/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/{{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.object.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2080,
        1216
      ],
      "id": "b090a1d6-91fb-4ef1-b3ee-fe888f865084",
      "name": "Create Branch3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Source Fields').item.json.sourceOwner }}/{{ $('Set Source Fields').item.json.sourceRepo }}/commits/{{ $('Set Source Fields').item.json.commitSha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1872,
        1216
      ],
      "id": "c768f7b7-f932-4c97-881d-a0d67827dd3d",
      "name": "Get Commit Details3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1680,
        1216
      ],
      "id": "de35295b-0439-4140-b9d7-9c5f95a57f67",
      "name": "Split Out Files3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "not-deleted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "removed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1504,
        1216
      ],
      "id": "17c220e4-8e9e-4b19-a505-f8d7c106097e",
      "name": "If Not Deleted3"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Source Fields').item.json.sourceOwner }}/{{ $('Set Source Fields').item.json.sourceRepo }}/contents/{{ encodeURIComponent($json.filename) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        1200
      ],
      "id": "c4daf0e5-02f2-4db0-8029-085c26c4025c",
      "name": "Get File Content3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Target: Per_Testing → Org_Testing').item.json.targetOwner }}/{{ $('Set Target: Per_Testing → Org_Testing').item.json.targetRepo }}/contents/{{ encodeURIComponent($json.path) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1072,
        1200
      ],
      "id": "c4d871ab-087a-4b84-8ff9-c61b37846f6e",
      "name": "Check If File Exists3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "={{ String($json.status || $json.statusCode || 404).toNumber() }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -880,
        1200
      ],
      "id": "68a2c647-efd2-4c69-af3e-1e251222ffd7",
      "name": "If File Exists3"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Per_Testing → Org_Testing').item.json.targetOwner }}/{{ $('Set Target: Per_Testing → Org_Testing').item.json.targetRepo }}/contents/{{ encodeURIComponent($('Get File Content3').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-A: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content3').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $('Check If File Exists3').item.json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -672,
        1088
      ],
      "id": "582dd0f7-1211-4f70-b2bd-e7cca9a94ae4",
      "name": "Update Existing File3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Per_Testing → Org_Testing').item.json.targetOwner }}/{{ $('Set Target: Per_Testing → Org_Testing').item.json.targetRepo }}/contents/{{ encodeURIComponent($('Get File Content3').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-A: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content3').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -672,
        1296
      ],
      "id": "7e51ba68-82f8-4ee4-8122-e759fad469da",
      "name": "Create New File3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -384,
        1200
      ],
      "id": "65bd0746-5c77-4185-b0f7-943be49e5290",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Per_Testing → Org_Testing').item.json.targetOwner }}/{{ $('Set Target: Per_Testing → Org_Testing').item.json.targetRepo }}/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🔄 Sync from {{ $('Set Source Fields').item.json.sourceRepo }}: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "body",
              "value": "=## Automated Sync from {{ $('Set Source Fields').item.json.sourceRepo }}\n\n**Commit Message:** {{ $('Set Source Fields').item.json.commitMessage }}\n\n**Commit SHA:** {{ $('Set Source Fields').item.json.commitSha }}\n\n**Author:** {{ $('Set Source Fields').item.json.authorName }}\n\n---\n*Auto-generated by n8n workflow*"
            },
            {
              "name": "head",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "base",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        1200
      ],
      "id": "96f0181b-cc3f-4f03-9f08-0e3141c855dc",
      "name": "Create PR3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo1 → Repo2').item.json.targetOwner }}/{{ $('Set Target: Repo1 → Repo2').item.json.targetRepo }}/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2272,
        1568
      ],
      "id": "5fc46e25-492b-427f-8460-dec025f5f1b1",
      "name": "Get SHA4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo1 → Repo2').item.json.targetOwner }}/{{ $('Set Target: Repo1 → Repo2').item.json.targetRepo }}/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/{{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.object.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2080,
        1568
      ],
      "id": "9c754e43-0991-4bd3-800d-c808425f0f7d",
      "name": "Create Branch4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Source Fields').item.json.sourceOwner }}/{{ $('Set Source Fields').item.json.sourceRepo }}/commits/{{ $('Set Source Fields').item.json.commitSha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1872,
        1568
      ],
      "id": "1cb8cccd-d5e8-43bd-85ee-f5518d096284",
      "name": "Get Commit Details4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1680,
        1568
      ],
      "id": "dc3a2354-b35e-433b-a70a-50d24668b651",
      "name": "Split Out Files4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "not-deleted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "removed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1504,
        1568
      ],
      "id": "d511b631-a735-4bee-b913-f69e9b968f42",
      "name": "If Not Deleted4"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Source Fields').item.json.sourceOwner }}/{{ $('Set Source Fields').item.json.sourceRepo }}/contents/{{ encodeURIComponent($json.filename) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        1552
      ],
      "id": "1914ab5d-aba5-4c3f-9439-e5d208d76860",
      "name": "Get File Content4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo1 → Repo2').item.json.targetOwner }}/{{ $('Set Target: Repo1 → Repo2').item.json.targetRepo }}/contents/{{ encodeURIComponent($json.path) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1072,
        1552
      ],
      "id": "e479f421-b8c5-411d-858c-8bb4f1459a86",
      "name": "Check If File Exists4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "={{ String($json.status || $json.statusCode || 404).toNumber() }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -880,
        1552
      ],
      "id": "254e7c65-4a27-449b-ab55-ca2b4be7c3d2",
      "name": "If File Exists4"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo1 → Repo2').item.json.targetOwner }}/{{ $('Set Target: Repo1 → Repo2').item.json.targetRepo }}/contents/{{ encodeURIComponent($('Get File Content4').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-A: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content4').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $('Check If File Exists4').item.json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -672,
        1440
      ],
      "id": "5490fb73-d17a-4c46-81ba-c71357f43adb",
      "name": "Update Existing File4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo1 → Repo2').item.json.targetOwner }}/{{ $('Set Target: Repo1 → Repo2').item.json.targetRepo }}/contents/{{ encodeURIComponent($('Get File Content4').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-A: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content4').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -672,
        1600
      ],
      "id": "1fd85d1a-a0e4-401e-ac94-eda79fadf243",
      "name": "Create New File4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -400,
        1568
      ],
      "id": "1ea2f07d-1f83-4689-8abc-2a4a2b45ecc7",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo1 → Repo2').item.json.targetOwner }}/{{ $('Set Target: Repo1 → Repo2').item.json.targetRepo }}/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🔄 Sync from {{ $('Set Source Fields').item.json.sourceRepo }}: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "body",
              "value": "=## Automated Sync from {{ $('Set Source Fields').item.json.sourceRepo }}\n\n**Commit Message:** {{ $('Set Source Fields').item.json.commitMessage }}\n\n**Commit SHA:** {{ $('Set Source Fields').item.json.commitSha }}\n\n**Author:** {{ $('Set Source Fields').item.json.authorName }}\n\n---\n*Auto-generated by n8n workflow*"
            },
            {
              "name": "head",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "base",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -224,
        1568
      ],
      "id": "a2ef7aa4-aec0-432e-ad6f-80499979b443",
      "name": "Create PR4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo2 → Repo1').item.json.targetOwner }}/{{ $('Set Target: Repo2 → Repo1').item.json.targetRepo }}/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2288,
        1872
      ],
      "id": "a82d7f47-f674-4b47-b4dc-9c8a8bc33ae7",
      "name": "Get SHA5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo2 → Repo1').item.json.targetOwner }}/{{ $('Set Target: Repo2 → Repo1').item.json.targetRepo }}/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/{{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.object.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2096,
        1872
      ],
      "id": "0fd25650-9718-4516-9331-89cb9c8ecb09",
      "name": "Create Branch5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/commits/{{ $('Set Source Fields').item.json.commitSha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1888,
        1872
      ],
      "id": "ff32aa2a-55a7-45b5-b208-a2a4aa19274f",
      "name": "Get Commit Details5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1696,
        1872
      ],
      "id": "422241ab-ac61-437f-ac2f-34f28ef542c5",
      "name": "Split Out Files5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "not-deleted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "removed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1488,
        1872
      ],
      "id": "91539257-f5ab-42d5-be35-c40767d06ec6",
      "name": "If Not Deleted5"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Source Fields').item.json.sourceOwner }}/{{ $('Set Source Fields').item.json.sourceRepo }}/contents/{{ encodeURIComponent($json.filename) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1296,
        1856
      ],
      "id": "f98c3316-ea25-4781-afac-1ead3561f358",
      "name": "Get File Content5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo2 → Repo1').item.json.targetOwner }}/{{ $('Set Target: Repo2 → Repo1').item.json.targetRepo }}/contents/{{ encodeURIComponent($json.path) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1088,
        1856
      ],
      "id": "133b0af2-12e7-47cc-87e4-b5a33cbe0069",
      "name": "Check If File Exists5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "={{ String($json.status || $json.statusCode || 404).toNumber() }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -896,
        1856
      ],
      "id": "c3f443a9-34a6-4473-b93d-87d105eb0e97",
      "name": "If File Exists5"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo2 → Repo1').item.json.targetOwner }}/{{ $('Set Target: Repo2 → Repo1').item.json.targetRepo }}/contents/{{ encodeURIComponent($('Get File Content5').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-B: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content5').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $('Check If File Exists5').item.json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        1744
      ],
      "id": "96e3889d-59fa-4764-b682-9ce8587d72bd",
      "name": "Update Existing File5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo2 → Repo1').item.json.targetOwner }}/{{ $('Set Target: Repo2 → Repo1').item.json.targetRepo }}/contents/{{ encodeURIComponent($('Get File Content5').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-B: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content5').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        1952
      ],
      "id": "b7ef86b7-bf5a-4215-9a85-a85b9bb8201b",
      "name": "Create New File5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -400,
        1856
      ],
      "id": "07dbd9f1-a1df-4281-ab06-24b05b355e9d",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Set Target: Repo2 → Repo1').item.json.targetOwner }}/{{ $('Set Target: Repo2 → Repo1').item.json.targetRepo }}/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🔄 Sync from {{ $('Set Source Fields').item.json.sourceRepo }}: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "body",
              "value": "=## Automated Sync from {{ $('Set Source Fields').item.json.sourceRepo }}\n\n**Commit Message:** {{ $('Set Source Fields').item.json.commitMessage }}\n\n**Commit SHA:** {{ $('Set Source Fields').item.json.commitSha }}\n\n**Author:** {{ $('Set Source Fields').item.json.authorName }}\n\n---\n*Auto-generated by n8n workflow*"
            },
            {
              "name": "base",
              "value": "main"
            },
            {
              "name": "head",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        1856
      ],
      "id": "171611a1-225b-4d5b-8d0b-de3cdaf4ee90",
      "name": "Create PR5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "content": "               Org To Org",
        "height": 544,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "971a5ffe-2848-417a-89c1-1bf65c8f0b6c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "               Org To Per",
        "height": 688,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        688
      ],
      "id": "504b216c-405f-4803-bf68-fd5f977b1ace",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "               Per To Per",
        "height": 688,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        1504
      ],
      "id": "7f047778-22e3-46b7-acde-1a03712e294b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1520,
        144
      ],
      "id": "0d5baac7-cd13-48f8-81c6-2594f94c38b2",
      "name": "Split In Batches"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1488,
        464
      ],
      "id": "19423c5a-5006-4c7b-9499-4ca473b21421",
      "name": "Split In Batches1"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1504,
        816
      ],
      "id": "5a86457e-8bf3-4659-a37f-c98f4bffddd6",
      "name": "Split In Batches2"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1488,
        1216
      ],
      "id": "a225e436-bd12-44a4-bc1d-58428a29149b",
      "name": "Split In Batches3"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1488,
        1568
      ],
      "id": "9cd465e9-ca17-4a14-98d0-1f1213af0bcd",
      "name": "Split In Batches4"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1504,
        1872
      ],
      "id": "951083c3-0feb-4c35-b927-c8a015d4b01e",
      "name": "Split In Batches5"
    }
  ],
  "pinData": {},
  "connections": {
    "GitHub Trigger Repo-A": {
      "main": [
        [
          {
            "node": "Filter Branch & Sync Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Trigger Repo-B": {
      "main": [
        [
          {
            "node": "Filter Branch & Sync Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Trigger Org_Testing_Repo": {
      "main": [
        [
          {
            "node": "Filter Branch & Sync Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Trigger Per_Testing_Repo": {
      "main": [
        [
          {
            "node": "Filter Branch & Sync Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Trigger Repo1": {
      "main": [
        [
          {
            "node": "Filter Branch & Sync Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Trigger Repo2": {
      "main": [
        [
          {
            "node": "Filter Branch & Sync Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Branch & Sync Message": {
      "main": [
        [
          {
            "node": "Set Source Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Source Fields": {
      "main": [
        [
          {
            "node": "Switch Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Router": {
      "main": [
        [
          {
            "node": "Set Target: Repo-A → Repo-B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Target: Repo-B → Repo-A",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Target: Org_Testing → Per_Testing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Target: Per_Testing → Org_Testing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Target: Repo1 → Repo2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Target: Repo2 → Repo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA": {
      "main": [
        [
          {
            "node": "Create Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch": {
      "main": [
        [
          {
            "node": "Get Commit Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Details": {
      "main": [
        [
          {
            "node": "Split Out Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Files": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Deleted": {
      "main": [
        [
          {
            "node": "Get File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content": {
      "main": [
        [
          {
            "node": "Check If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists": {
      "main": [
        [
          {
            "node": "If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists": {
      "main": [
        [
          {
            "node": "Update Existing File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target: Repo-A → Repo-B": {
      "main": [
        [
          {
            "node": "Get SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA1": {
      "main": [
        [
          {
            "node": "Create Branch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch1": {
      "main": [
        [
          {
            "node": "Get Commit Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Details1": {
      "main": [
        [
          {
            "node": "Split Out Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Files1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Deleted1": {
      "main": [
        [
          {
            "node": "Get File Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content1": {
      "main": [
        [
          {
            "node": "Check If File Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists1": {
      "main": [
        [
          {
            "node": "If File Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists1": {
      "main": [
        [
          {
            "node": "Update Existing File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target: Repo-B → Repo-A": {
      "main": [
        [
          {
            "node": "Get SHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA2": {
      "main": [
        [
          {
            "node": "Create Branch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch2": {
      "main": [
        [
          {
            "node": "Get Commit Details2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Details2": {
      "main": [
        [
          {
            "node": "Split Out Files2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Files2": {
      "main": [
        [
          {
            "node": "Split In Batches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Deleted2": {
      "main": [
        [
          {
            "node": "Get File Content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content2": {
      "main": [
        [
          {
            "node": "Check If File Exists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists2": {
      "main": [
        [
          {
            "node": "If File Exists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists2": {
      "main": [
        [
          {
            "node": "Update Existing File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Split In Batches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target: Org_Testing → Per_Testing": {
      "main": [
        [
          {
            "node": "Get SHA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA3": {
      "main": [
        [
          {
            "node": "Create Branch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch3": {
      "main": [
        [
          {
            "node": "Get Commit Details3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Details3": {
      "main": [
        [
          {
            "node": "Split Out Files3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Files3": {
      "main": [
        [
          {
            "node": "Split In Batches3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Deleted3": {
      "main": [
        [
          {
            "node": "Get File Content3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content3": {
      "main": [
        [
          {
            "node": "Check If File Exists3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists3": {
      "main": [
        [
          {
            "node": "If File Exists3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists3": {
      "main": [
        [
          {
            "node": "Update Existing File3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File3": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File3": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Split In Batches3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target: Per_Testing → Org_Testing": {
      "main": [
        [
          {
            "node": "Get SHA3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA4": {
      "main": [
        [
          {
            "node": "Create Branch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch4": {
      "main": [
        [
          {
            "node": "Get Commit Details4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Details4": {
      "main": [
        [
          {
            "node": "Split Out Files4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Files4": {
      "main": [
        [
          {
            "node": "Split In Batches4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Deleted4": {
      "main": [
        [
          {
            "node": "Get File Content4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content4": {
      "main": [
        [
          {
            "node": "Check If File Exists4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists4": {
      "main": [
        [
          {
            "node": "If File Exists4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists4": {
      "main": [
        [
          {
            "node": "Update Existing File4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File4": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File4": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Split In Batches4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target: Repo1 → Repo2": {
      "main": [
        [
          {
            "node": "Get SHA4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA5": {
      "main": [
        [
          {
            "node": "Create Branch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch5": {
      "main": [
        [
          {
            "node": "Get Commit Details5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Details5": {
      "main": [
        [
          {
            "node": "Split Out Files5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Files5": {
      "main": [
        [
          {
            "node": "Split In Batches5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Deleted5": {
      "main": [
        [
          {
            "node": "Get File Content5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content5": {
      "main": [
        [
          {
            "node": "Check If File Exists5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists5": {
      "main": [
        [
          {
            "node": "If File Exists5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists5": {
      "main": [
        [
          {
            "node": "Update Existing File5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File5": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File5": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Split In Batches5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target: Repo2 → Repo1": {
      "main": [
        [
          {
            "node": "Get SHA5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "If Not Deleted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "If Not Deleted1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create PR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches2": {
      "main": [
        [
          {
            "node": "If Not Deleted2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create PR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches3": {
      "main": [
        [
          {
            "node": "If Not Deleted3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create PR3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches4": {
      "main": [
        [
          {
            "node": "If Not Deleted4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create PR4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches5": {
      "main": [
        [
          {
            "node": "If Not Deleted5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create PR5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0f18b959-c56f-4de8-bfeb-233951e26ed4",
  "meta": {
    "instanceId": "151305d708accaf9ba7df3ae300984e7c14a108b131ed2d081a3bd48f670f5c4"
  },
  "id": "oiVm4jRiC9i9g6xs",
  "tags": [
    {
      "updatedAt": "2026-01-14T11:46:13.984Z",
      "createdAt": "2026-01-14T11:46:13.984Z",
      "id": "MWTdV5PX3ZidTiGn",
      "name": "combined"
    }
  ]
}