Unified Bi-Directional GitHub Repository Sync Combined.json
{
  "name": "Unified Bi-Directional GitHub Repository Sync Combined",
  "nodes": [
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "ptechfusion19"
        },
        "repository": {
          "__rl": true,
          "value": "Repo-A",
          "mode": "name"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -1792,
        -272
      ],
      "id": "6f916975-d538-42c2-a1c5-829e1db37260",
      "name": "GitHub Trigger Repo-A",
      "webhookId": "unified-repo-a-trigger",
      "credentials": {
        "githubApi": {
          "id": "ZKGYvxYBw2xUEuaV",
          "name": "GitHub Account2"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "ptechfusion19"
        },
        "repository": {
          "__rl": true,
          "value": "Repo-B",
          "mode": "name"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -1792,
        -64
      ],
      "id": "9dc79e99-2d37-4b38-b80b-17abb01546e1",
      "name": "GitHub Trigger Repo-B",
      "webhookId": "unified-repo-b-trigger",
      "credentials": {
        "githubApi": {
          "id": "ZKGYvxYBw2xUEuaV",
          "name": "GitHub Account2"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "ptechfusion19"
        },
        "repository": {
          "__rl": true,
          "value": "Org_Testing_Repo",
          "mode": "name"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -1792,
        128
      ],
      "id": "500857e5-0d19-4b31-9d2a-f2367310e993",
      "name": "GitHub Trigger Org_Testing_Repo",
      "webhookId": "unified-org-testing-trigger",
      "credentials": {
        "githubApi": {
          "id": "ZKGYvxYBw2xUEuaV",
          "name": "GitHub Account2"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "Ramzanx0553",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Per_Testing_Repo",
          "mode": "name"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -1792,
        336
      ],
      "id": "83bb1a6d-986a-42c3-8e8c-00f3d54fabdc",
      "name": "GitHub Trigger Per_Testing_Repo",
      "webhookId": "unified-per-testing-trigger",
      "credentials": {
        "githubApi": {
          "id": "ZKGYvxYBw2xUEuaV",
          "name": "GitHub Account2"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "wajeehaafi-alt",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Repo1",
          "mode": "list",
          "cachedResultName": "Repo1",
          "cachedResultUrl": "https://github.com/wajeehaafi-alt/Repo1"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -1792,
        528
      ],
      "id": "90641fff-d769-448b-a65c-4957d4ce8de1",
      "name": "GitHub Trigger Repo1",
      "webhookId": "unified-repo1-trigger",
      "credentials": {
        "githubApi": {
          "id": "ZkFyEqCO3B3XoywZ",
          "name": "GitHub Account 3"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "Ramzanx0553",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Repo2",
          "mode": "list",
          "cachedResultName": "Repo2",
          "cachedResultUrl": "https://github.com/Ramzanx0553/Repo2"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -1792,
        736
      ],
      "id": "32923573-0153-4f28-af32-3ff443fc9be0",
      "name": "GitHub Trigger Repo2",
      "webhookId": "unified-repo2-trigger",
      "credentials": {
        "githubApi": {
          "id": "ZKGYvxYBw2xUEuaV",
          "name": "GitHub Account2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "main-branch",
              "leftValue": "={{ $json.body.ref }}",
              "rightValue": "refs/heads/main",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "not-sync",
              "leftValue": "={{ $json.body.head_commit.message }}",
              "rightValue": "Sync from Repo",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1408,
        256
      ],
      "id": "642c815d-0849-441f-a82d-07a24d76fea9",
      "name": "Filter Branch & Sync Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "source-owner",
              "name": "sourceOwner",
              "value": "={{ $json.body.repository.owner.login }}",
              "type": "string"
            },
            {
              "id": "source-repo",
              "name": "sourceRepo",
              "value": "={{ $json.body.repository.name }}",
              "type": "string"
            },
            {
              "id": "branch-name",
              "name": "branchName",
              "value": "=sync-from-{{ $json.body.repository.name }}-{{ $now.toMillis() }}",
              "type": "string"
            },
            {
              "id": "commit-message",
              "name": "commitMessage",
              "value": "={{ $json.body.head_commit.message }}",
              "type": "string"
            },
            {
              "id": "commit-sha",
              "name": "commitSha",
              "value": "={{ $json.body.after }}",
              "type": "string"
            },
            {
              "id": "author-name",
              "name": "authorName",
              "value": "={{ $json.body.head_commit.author.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        240
      ],
      "id": "483195d9-7d54-480e-8a89-d2da600e5bfb",
      "name": "Set Source Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "owner-check",
                    "leftValue": "={{ $json.sourceOwner }}",
                    "rightValue": "ptechfusion19",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "repo-check",
                    "leftValue": "={{ $json.sourceRepo }}",
                    "rightValue": "Repo-A",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "owner-check",
                    "leftValue": "={{ $json.sourceOwner }}",
                    "rightValue": "ptechfusion19",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "repo-check",
                    "leftValue": "={{ $json.sourceRepo }}",
                    "rightValue": "Repo-B",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "owner-check",
                    "leftValue": "={{ $json.sourceOwner }}",
                    "rightValue": "ptechfusion19",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "repo-check",
                    "leftValue": "={{ $json.sourceRepo }}",
                    "rightValue": "Org_Testing_Repo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "owner-check",
                    "leftValue": "={{ $json.sourceOwner }}",
                    "rightValue": "Ramzanx0553",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "repo-check",
                    "leftValue": "={{ $json.sourceRepo }}",
                    "rightValue": "Per_Testing_Repo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "owner-check",
                    "leftValue": "={{ $json.sourceOwner }}",
                    "rightValue": "wajeehaafi-alt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "repo-check",
                    "leftValue": "={{ $json.sourceRepo }}",
                    "rightValue": "Repo1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "owner-check",
                    "leftValue": "={{ $json.sourceOwner }}",
                    "rightValue": "Ramzanx0553",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "repo-check",
                    "leftValue": "={{ $json.sourceRepo }}",
                    "rightValue": "Repo2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -992,
        176
      ],
      "id": "53cd1d5d-27ca-4d0e-a406-e35518e6a750",
      "name": "Switch Router"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target-owner",
              "name": "targetOwner",
              "value": "ptechfusion19",
              "type": "string"
            },
            {
              "id": "target-repo",
              "name": "targetRepo",
              "value": "Repo-B",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        -304
      ],
      "id": "de0a6eb6-7325-44dc-a626-7995a2d9b396",
      "name": "Set Target: Repo-A → Repo-B"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target-owner",
              "name": "targetOwner",
              "value": "ptechfusion19",
              "type": "string"
            },
            {
              "id": "target-repo",
              "name": "targetRepo",
              "value": "Repo-A",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        16
      ],
      "id": "667b4a46-7944-45e9-9e83-4b7d273999f1",
      "name": "Set Target: Repo-B → Repo-A"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target-owner",
              "name": "targetOwner",
              "value": "Ramzanx0553",
              "type": "string"
            },
            {
              "id": "target-repo",
              "name": "targetRepo",
              "value": "Per_Testing_Repo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        368
      ],
      "id": "0e45a8cf-3e21-41d6-b1b3-1d173822f0b0",
      "name": "Set Target: Org_Testing → Per_Testing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target-owner",
              "name": "targetOwner",
              "value": "ptechfusion19",
              "type": "string"
            },
            {
              "id": "target-repo",
              "name": "targetRepo",
              "value": "Org_Testing_Repo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        768
      ],
      "id": "932d38a9-7968-486f-87ce-96f68e93f1ce",
      "name": "Set Target: Per_Testing → Org_Testing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target-owner",
              "name": "targetOwner",
              "value": "Ramzanx0553",
              "type": "string"
            },
            {
              "id": "target-repo",
              "name": "targetRepo",
              "value": "Repo2",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        1120
      ],
      "id": "13d77274-7135-4970-a7dd-6f33083a0228",
      "name": "Set Target: Repo1 → Repo2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target-owner",
              "name": "targetOwner",
              "value": "wajeehaafi-alt",
              "type": "string"
            },
            {
              "id": "target-repo",
              "name": "targetRepo",
              "value": "Repo1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        1424
      ],
      "id": "e9067033-85f2-4fdb-aa93-a4a683f8b2bf",
      "name": "Set Target: Repo2 → Repo1"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/Ramzanx0553/Repo2/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -416,
        -304
      ],
      "id": "828a7317-9dea-4144-a7ad-1e26c563defd",
      "name": "Get SHA",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/Ramzanx0553/Repo2/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/{{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.object.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -224,
        -304
      ],
      "id": "fad042b7-25d5-42f0-9719-7f9dce02a558",
      "name": "Create Branch",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Repo-A/commits/{{ $('Set Source Fields').item.json.commitSha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        -304
      ],
      "id": "14449264-7c78-41a3-b03c-5edbb2a7fa21",
      "name": "Get Commit Details",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        176,
        -304
      ],
      "id": "bdd810e8-b538-41f3-a50f-2efac9e74598",
      "name": "Split Out Files"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "not-deleted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "removed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        -304
      ],
      "id": "8db52c42-c4c8-4687-a882-f16ba81215e9",
      "name": "If Not Deleted"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Repo-A/contents/{{ encodeURIComponent($json.filename) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        -320
      ],
      "id": "4287e854-da70-4c14-ab79-e8d64c81f7a3",
      "name": "Get File Content",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Repo-B/contents/{{ encodeURIComponent($json.path) }}?ref={{ $('Set Source Fields').item.json.branchName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        -320
      ],
      "id": "dacc0eba-e942-464c-8f6c-9903391dd35e",
      "name": "Check If File Exists",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        -320
      ],
      "id": "34257476-ff89-40af-a962-55962ea6dfdf",
      "name": "If File Exists"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/ptechfusion19/Repo-B/contents/{{ encodeURIComponent($('Get File Content').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo1: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1184,
        -432
      ],
      "id": "53703922-9ed2-492d-ba8c-e20536fd1adb",
      "name": "Update Existing File",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/ptechfusion19/Repo-B/contents/{{ encodeURIComponent($('Get File Content').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo1: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1184,
        -272
      ],
      "id": "ad23d606-6a51-4d34-a6bc-c1f7658b5783",
      "name": "Create New File",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1392,
        -320
      ],
      "id": "6eb19826-084d-4b45-907f-15f262c93a0b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/ptechfusion19/Repo-B/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🔄 Sync from Repo1: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "body",
              "value": "=## Automated Sync from Repo1\n\n**Commit Message:** {{ $('Set Source Fields').item.json.commitMessage }}\n\n**Commit SHA:** {{ $('Set Source Fields').item.json.commitSha }}\n\n**Author:** {{ $('Set Fields').item.json.authorName }}\n\n---\n*Auto-generated by n8n workflow*"
            },
            {
              "name": "head",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "base",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1584,
        -320
      ],
      "id": "30009bab-e2b9-490f-8679-9865e60a0197",
      "name": "Create PR",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/ptechfusion19/Repo-B/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        16
      ],
      "id": "206f53ca-464f-4b99-be48-0e9325d1730f",
      "name": "Get SHA1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/ptechfusion19/Repo-B/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/{{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.object.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        16
      ],
      "id": "d0d39e38-0d70-47cb-a37b-1e9421baa2d4",
      "name": "Create Branch1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Repo-A/commits/{{ $('Set Source Fields').item.json.commitSha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        16
      ],
      "id": "8ec2dbcb-2ad8-4291-bdbe-4f773ff42212",
      "name": "Get Commit Details1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        208,
        16
      ],
      "id": "e4005091-887a-4e57-8dcc-bfa9a8cb4d67",
      "name": "Split Out Files1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "not-deleted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "removed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        16
      ],
      "id": "2c270a3e-7631-47e3-9c81-113fcf0d0a6e",
      "name": "If Not Deleted1"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Repo-A/contents/{{ encodeURIComponent($json.filename) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        0
      ],
      "id": "b7f6f81c-e5ea-433e-a071-f168d92671da",
      "name": "Get File Content1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Repo-B/contents/{{ encodeURIComponent($json.path) }}?ref={{ $('Set Source Fields').item.json.branchName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        816,
        0
      ],
      "id": "63cb718f-756d-429c-b8b4-f37199b2f87b",
      "name": "Check If File Exists1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        0
      ],
      "id": "7bb33661-061a-4a8f-8801-21ef4d8015ae",
      "name": "If File Exists1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/ptechfusion19/Repo-B/contents/{{ encodeURIComponent($('Get File Content1').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo1: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content1').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        -112
      ],
      "id": "f2c71ac9-89da-49c0-8a6e-a82e4b3b9343",
      "name": "Update Existing File1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/Ramzanx0553/Repo2/contents/{{ encodeURIComponent($('Get File Content1').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo1: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content1').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        48
      ],
      "id": "4ba97a9f-959b-4d26-9266-0cc20a586ed2",
      "name": "Create New File1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1424,
        0
      ],
      "id": "3c4952b6-c0fc-4076-bb5f-fc8a20f0caea",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/ptechfusion19/Repo-B/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🔄 Sync from Repo1: {{ $('Set Source Fields').item.json.commitMessage }}"
            },
            {
              "name": "body",
              "value": "=## Automated Sync from Repo1\n\n**Commit Message:** {{ $('Set Source Fields').item.json.commitMessage }}\n\n**Commit SHA:** {{ $('Set Source Fields').item.json.commitSha }}\n\n**Author:** {{ $('Set Fields').item.json.authorName }}\n\n---\n*Auto-generated by n8n workflow*"
            },
            {
              "name": "head",
              "value": "={{ $('Set Source Fields').item.json.branchName }}"
            },
            {
              "name": "base",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1616,
        0
      ],
      "id": "fa74066e-f82d-4b72-9a7e-f22308093f4d",
      "name": "Create PR1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        368
      ],
      "id": "c5384340-59ca-446e-a9ba-c1b40eef47d6",
      "name": "Get SHA2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/{{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.object.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        368
      ],
      "id": "5eb59d6a-86c8-4e51-bd9c-dd9e9ca2d48f",
      "name": "Create Branch2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/commits/{{ $('Set Source Fields').item.json.commitSha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        368
      ],
      "id": "b4cfddef-d4ee-4df9-946b-a3a6ea2b9deb",
      "name": "Get Commit Details2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        192,
        368
      ],
      "id": "bc2f5d84-ace4-4864-a635-d85d32edbca8",
      "name": "Split Out Files2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "not-deleted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "removed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        368
      ],
      "id": "ca666527-3038-4a5c-866c-59c014d0b3f2",
      "name": "If Not Deleted2"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/contents/{{ encodeURIComponent($json.filename) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        352
      ],
      "id": "18ef1121-343b-46a3-bb65-06bf49f3e315",
      "name": "Get File Content2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/contents/{{ encodeURIComponent($json.path) }}?ref={{ $('Set Source Fields').item.json.branchName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        352
      ],
      "id": "5a34cb93-b2d6-4e93-8f33-4db4c0c047bb",
      "name": "Check If File Exists2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        352
      ],
      "id": "e3e1d527-2ee7-461f-b3c0-ac2693efad65",
      "name": "If File Exists2"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/contents/{{ encodeURIComponent($('Get File Content2').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-B: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content2').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        240
      ],
      "id": "1641e347-0205-4b72-8553-b7cc747884db",
      "name": "Update Existing File2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/contents/{{ encodeURIComponent($('Get File Content2').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-B: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content2').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        448
      ],
      "id": "5d0981ff-0575-4f4b-8b5f-43c4efb74a10",
      "name": "Create New File2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1440,
        352
      ],
      "id": "91775b97-d002-4250-bb7b-c05d32014ecb",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🔄 Sync from Organizational Repo: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "body",
              "value": "=## Automated Sync from OrganRepository\n\n**Commit Message:** {{ $('Set Fields').item.json.commitMessage }}\n\n**Commit SHA:** {{ $('Set Fields').item.json.commitSha }}\n\n**Author:** {{ $('Set Fields').item.json.authorName }}\n\n---\n*Auto-generated by n8n workflow*"
            },
            {
              "name": "base",
              "value": "main"
            },
            {
              "name": "head",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1648,
        352
      ],
      "id": "0c7506da-c6f8-4698-8e57-be077ded3177",
      "name": "Create PR2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        768
      ],
      "id": "01da6d32-86fb-4b68-bfa4-4c3d9379dc49",
      "name": "Get SHA3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/{{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.object.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        768
      ],
      "id": "53197bcc-d609-4277-affc-f3960a375981",
      "name": "Create Branch3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/commits/{{ $('Set Source Fields').item.json.commitSha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        768
      ],
      "id": "20246cca-2224-43f2-b1f0-f3c29665e551",
      "name": "Get Commit Details3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        208,
        768
      ],
      "id": "57332443-cc4a-47d8-8ddd-d66d99343cfd",
      "name": "Split Out Files3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "not-deleted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "removed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        768
      ],
      "id": "ce680e33-5553-41a0-9728-ac6b6e0df0ea",
      "name": "If Not Deleted3"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/contents/{{ encodeURIComponent($json.filename) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        752
      ],
      "id": "f58a7bae-3fde-4c33-8d61-3ca584713d28",
      "name": "Get File Content3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/contents/{{ encodeURIComponent($json.path) }}?ref={{ $('Set Source Fields').item.json.branchName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        816,
        752
      ],
      "id": "e56c47d2-0a8e-4213-bf14-7dc2cff88099",
      "name": "Check If File Exists3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        752
      ],
      "id": "9a4433e7-0155-48a1-ab48-8189385309cb",
      "name": "If File Exists3"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/contents/{{ encodeURIComponent($('Get File Content3').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-A: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content3').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        640
      ],
      "id": "6b74b8c8-a7a9-4c84-8f76-47357c96a238",
      "name": "Update Existing File3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/contents/{{ encodeURIComponent($('Get File Content3').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-A: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content3').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        848
      ],
      "id": "b380206a-2231-43c7-a715-b4a32be8827b",
      "name": "Create New File3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1504,
        752
      ],
      "id": "0cc7270a-88d9-471c-b516-1d7ab50bc394",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🔄 Sync from Personal Repo: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "body",
              "value": "=## Automated Sync from Personal Repository\n\n**Commit Message:** {{ $('Set Fields').item.json.commitMessage }}\n\n**Commit SHA:** {{ $('Set Fields').item.json.commitSha }}\n\n**Author:** {{ $('Set Fields').item.json.authorName }}\n\n---\n*Auto-generated by n8n workflow*"
            },
            {
              "name": "head",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "base",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1680,
        752
      ],
      "id": "8b64a017-30a7-420e-9ee1-b0cdf6169cd5",
      "name": "Create PR3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        1120
      ],
      "id": "f25c32b8-b6d5-41a4-b1cb-ae3272d287bd",
      "name": "Get SHA4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/{{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.object.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        1120
      ],
      "id": "0edb8aeb-59cc-4bee-9d41-7f1155b5c84f",
      "name": "Create Branch4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/commits/{{ $('Set Source Fields').item.json.commitSha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        1120
      ],
      "id": "4711c060-fd5e-4d8e-8340-b658115e4481",
      "name": "Get Commit Details4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        208,
        1120
      ],
      "id": "24ad0f47-7c2e-46aa-9d8a-07002fc27a03",
      "name": "Split Out Files4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "not-deleted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "removed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        1120
      ],
      "id": "18f8c748-e79b-4d45-90d2-c55377188e9e",
      "name": "If Not Deleted4"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/contents/{{ encodeURIComponent($json.filename) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        1104
      ],
      "id": "b1dbb5fc-ba91-4d5b-91f0-ff593791686f",
      "name": "Get File Content4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/contents/{{ encodeURIComponent($json.path) }}?ref={{ $('Set Source Fields').item.json.branchName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        816,
        1104
      ],
      "id": "d4a14048-edd3-42fc-9ad0-05b6be2bee55",
      "name": "Check If File Exists4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        1104
      ],
      "id": "8fdc611e-6a41-4320-8cdf-ffa66a26ca63",
      "name": "If File Exists4"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/contents/{{ encodeURIComponent($('Get File Content4').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-A: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content4').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        992
      ],
      "id": "110c46f3-2e5d-4661-ad61-bbe09d69775d",
      "name": "Update Existing File4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/contents/{{ encodeURIComponent($('Get File Content4').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-A: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content4').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        1152
      ],
      "id": "bf7fd8d6-b5f4-440e-815c-502762c8c9c5",
      "name": "Create New File4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1488,
        1120
      ],
      "id": "f8c0cdb4-7031-4f37-9afd-d472ba78cf1a",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🔄 Sync from Personal Repo: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "body",
              "value": "=## Automated Sync from Personal Repository\n\n**Commit Message:** {{ $('Set Fields').item.json.commitMessage }}\n\n**Commit SHA:** {{ $('Set Fields').item.json.commitSha }}\n\n**Author:** {{ $('Set Fields').item.json.authorName }}\n\n---\n*Auto-generated by n8n workflow*"
            },
            {
              "name": "head",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "base",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1664,
        1120
      ],
      "id": "ea174db1-afaa-4a9b-8c34-b8bf1ff3d4cc",
      "name": "Create PR4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        1424
      ],
      "id": "2cf36b83-750c-4360-b059-e4219b39bde1",
      "name": "Get SHA5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/{{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.object.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        1424
      ],
      "id": "9686e537-9129-439b-9c77-a8e1f2924117",
      "name": "Create Branch5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/commits/{{ $('Set Source Fields').item.json.commitSha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        1424
      ],
      "id": "8b4cba73-d52f-4688-aa14-c0e12455fea4",
      "name": "Get Commit Details5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        192,
        1424
      ],
      "id": "a4e88e5a-acec-474e-b4e0-7c6527ec81b4",
      "name": "Split Out Files5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "not-deleted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "removed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        1424
      ],
      "id": "eceeb0be-48c8-4c14-a406-91732fc289cb",
      "name": "If Not Deleted5"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/contents/{{ encodeURIComponent($json.filename) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        1408
      ],
      "id": "f702b21a-56a3-4763-a8fa-904c4a26ccae",
      "name": "Get File Content5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Org_Testing_Repo/contents/{{ encodeURIComponent($json.path) }}?ref={{ $('Set Source Fields').item.json.branchName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        1408
      ],
      "id": "dd8b896b-a27c-435b-a1ac-f803cbe74f23",
      "name": "Check If File Exists5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        1408
      ],
      "id": "19aeac44-e66a-449f-8eac-cf55b852192b",
      "name": "If File Exists5"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/contents/{{ encodeURIComponent($('Get File Content5').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-B: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content5').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        1296
      ],
      "id": "3db10062-620f-4e02-a866-ff288123b9cd",
      "name": "Update Existing File5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/contents/{{ encodeURIComponent($('Get File Content5').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-B: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content5').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        1504
      ],
      "id": "b8fe34c5-1719-4910-9530-27320c4abfc1",
      "name": "Create New File5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1488,
        1408
      ],
      "id": "bd053130-8fdd-4b23-b89b-8f03fef49853",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/Ramzanx0553/Per_Testing_Repo/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🔄 Sync from Organizational Repo: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "body",
              "value": "=## Automated Sync from OrganRepository\n\n**Commit Message:** {{ $('Set Fields').item.json.commitMessage }}\n\n**Commit SHA:** {{ $('Set Fields').item.json.commitSha }}\n\n**Author:** {{ $('Set Fields').item.json.authorName }}\n\n---\n*Auto-generated by n8n workflow*"
            },
            {
              "name": "base",
              "value": "main"
            },
            {
              "name": "head",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1728,
        1408
      ],
      "id": "c06ba9cc-51cf-4096-9748-63eecb3a0269",
      "name": "Create PR5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "GitHub Trigger Repo-A": {
      "main": [
        [
          {
            "node": "Filter Branch & Sync Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Trigger Repo-B": {
      "main": [
        [
          {
            "node": "Filter Branch & Sync Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Trigger Org_Testing_Repo": {
      "main": [
        [
          {
            "node": "Filter Branch & Sync Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Trigger Per_Testing_Repo": {
      "main": [
        [
          {
            "node": "Filter Branch & Sync Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Trigger Repo1": {
      "main": [
        [
          {
            "node": "Filter Branch & Sync Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Trigger Repo2": {
      "main": [
        [
          {
            "node": "Filter Branch & Sync Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Branch & Sync Message": {
      "main": [
        [
          {
            "node": "Set Source Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Source Fields": {
      "main": [
        [
          {
            "node": "Switch Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Router": {
      "main": [
        [
          {
            "node": "Set Target: Repo-A → Repo-B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Target: Repo-B → Repo-A",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Target: Org_Testing → Per_Testing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Target: Per_Testing → Org_Testing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Target: Repo1 → Repo2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Target: Repo2 → Repo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA": {
      "main": [
        [
          {
            "node": "Create Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch": {
      "main": [
        [
          {
            "node": "Get Commit Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Details": {
      "main": [
        [
          {
            "node": "Split Out Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Files": {
      "main": [
        [
          {
            "node": "If Not Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Deleted": {
      "main": [
        [
          {
            "node": "Get File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content": {
      "main": [
        [
          {
            "node": "Check If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists": {
      "main": [
        [
          {
            "node": "If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists": {
      "main": [
        [
          {
            "node": "Update Existing File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target: Repo-A → Repo-B": {
      "main": [
        [
          {
            "node": "Get SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA1": {
      "main": [
        [
          {
            "node": "Create Branch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch1": {
      "main": [
        [
          {
            "node": "Get Commit Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Details1": {
      "main": [
        [
          {
            "node": "Split Out Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Files1": {
      "main": [
        [
          {
            "node": "If Not Deleted1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Deleted1": {
      "main": [
        [
          {
            "node": "Get File Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content1": {
      "main": [
        [
          {
            "node": "Check If File Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists1": {
      "main": [
        [
          {
            "node": "If File Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists1": {
      "main": [
        [
          {
            "node": "Update Existing File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Create PR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target: Repo-B → Repo-A": {
      "main": [
        [
          {
            "node": "Get SHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA2": {
      "main": [
        [
          {
            "node": "Create Branch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch2": {
      "main": [
        [
          {
            "node": "Get Commit Details2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Details2": {
      "main": [
        [
          {
            "node": "Split Out Files2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Files2": {
      "main": [
        [
          {
            "node": "If Not Deleted2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Deleted2": {
      "main": [
        [
          {
            "node": "Get File Content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content2": {
      "main": [
        [
          {
            "node": "Check If File Exists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists2": {
      "main": [
        [
          {
            "node": "If File Exists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists2": {
      "main": [
        [
          {
            "node": "Update Existing File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Create PR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target: Org_Testing → Per_Testing": {
      "main": [
        [
          {
            "node": "Get SHA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA3": {
      "main": [
        [
          {
            "node": "Create Branch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch3": {
      "main": [
        [
          {
            "node": "Get Commit Details3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Details3": {
      "main": [
        [
          {
            "node": "Split Out Files3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Files3": {
      "main": [
        [
          {
            "node": "If Not Deleted3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Deleted3": {
      "main": [
        [
          {
            "node": "Get File Content3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content3": {
      "main": [
        [
          {
            "node": "Check If File Exists3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists3": {
      "main": [
        [
          {
            "node": "If File Exists3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists3": {
      "main": [
        [
          {
            "node": "Update Existing File3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File3": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File3": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Create PR3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target: Per_Testing → Org_Testing": {
      "main": [
        [
          {
            "node": "Get SHA3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA4": {
      "main": [
        [
          {
            "node": "Create Branch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch4": {
      "main": [
        [
          {
            "node": "Get Commit Details4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Details4": {
      "main": [
        [
          {
            "node": "Split Out Files4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Files4": {
      "main": [
        [
          {
            "node": "If Not Deleted4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Deleted4": {
      "main": [
        [
          {
            "node": "Get File Content4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content4": {
      "main": [
        [
          {
            "node": "Check If File Exists4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists4": {
      "main": [
        [
          {
            "node": "If File Exists4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists4": {
      "main": [
        [
          {
            "node": "Update Existing File4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File4": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File4": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Create PR4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target: Repo1 → Repo2": {
      "main": [
        [
          {
            "node": "Get SHA4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA5": {
      "main": [
        [
          {
            "node": "Create Branch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch5": {
      "main": [
        [
          {
            "node": "Get Commit Details5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Details5": {
      "main": [
        [
          {
            "node": "Split Out Files5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Files5": {
      "main": [
        [
          {
            "node": "If Not Deleted5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Deleted5": {
      "main": [
        [
          {
            "node": "Get File Content5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content5": {
      "main": [
        [
          {
            "node": "Check If File Exists5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists5": {
      "main": [
        [
          {
            "node": "If File Exists5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists5": {
      "main": [
        [
          {
            "node": "Update Existing File5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File5": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File5": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Create PR5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target: Repo2 → Repo1": {
      "main": [
        [
          {
            "node": "Get SHA5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3e046b5b-fb42-45ef-9d66-c42b3f2eb8fc",
  "meta": {
    "instanceId": "151305d708accaf9ba7df3ae300984e7c14a108b131ed2d081a3bd48f670f5c4"
  },
  "id": "rGUSCtuqtT9gu2d7",
  "tags": [
    {
      "name": "combined",
      "id": "MWTdV5PX3ZidTiGn",
      "updatedAt": "2026-01-14T11:46:13.984Z",
      "createdAt": "2026-01-14T11:46:13.984Z"
    }
  ]
}