Org To Org/Bi-Directional GitHub Repository Sync A-_B Organizational.json
{
  "name": "Bi-Directional GitHub Repository Sync A->B Organizational",
  "nodes": [
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "ptechfusion19"
        },
        "repository": {
          "__rl": true,
          "value": "Repo-A",
          "mode": "name"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -2208,
        144
      ],
      "id": "34e2470a-b538-41d6-b66f-6cf0fda668ca",
      "name": "Github Trigger",
      "webhookId": "repo-a-trigger",
      "credentials": {
        "githubApi": {
          "id": "ZKGYvxYBw2xUEuaV",
          "name": "GitHub Account2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "main-branch",
              "leftValue": "={{ $json.body.ref }}",
              "rightValue": "refs/heads/main",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "not-sync",
              "leftValue": "={{ $json.body.head_commit.message }}",
              "rightValue": "Sync from Repo",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2016,
        144
      ],
      "id": "511712a6-780a-402b-83f5-84263f5b3b77",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "branch-name",
              "name": "branchName",
              "value": "=sync-from-repo-a-{{ $now.toMillis() }}",
              "type": "string"
            },
            {
              "id": "commit-message",
              "name": "commitMessage",
              "value": "={{ $('Github Trigger').item.json.body.head_commit.message }}",
              "type": "string"
            },
            {
              "id": "commit-sha",
              "name": "commitSha",
              "value": "={{ $('Github Trigger').item.json.body.after }}",
              "type": "string"
            },
            {
              "id": "author-name",
              "name": "authorName",
              "value": "={{ $('Github Trigger').item.json.body.head_commit.author.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        128
      ],
      "id": "2402c974-1116-4475-ba15-9b06207398da",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/ptechfusion19/Repo-B/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1600,
        128
      ],
      "id": "0cbd78f6-3a07-4d3f-869f-8e545637975a",
      "name": "Get SHA",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/ptechfusion19/Repo-B/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/{{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.object.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1408,
        128
      ],
      "id": "ac306f47-3aa5-4627-ae48-0c82dafdf13a",
      "name": "Create Branch",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Repo-A/commits/{{ $('Set Fields').item.json.commitSha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1200,
        128
      ],
      "id": "b9b69790-b24c-46d6-b800-f923d7d7023d",
      "name": "Get Commit Details",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1008,
        128
      ],
      "id": "7d46f942-4199-4141-9116-f1893ad5800c",
      "name": "Split Out Files"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-deleted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "removed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -832,
        128
      ],
      "id": "0ee1e266-5e0b-4b0a-8be1-4379505174e5",
      "name": "If Not Deleted"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Repo-A/contents/{{ encodeURIComponent($json.filename) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -608,
        112
      ],
      "id": "d7049e40-7969-45ab-abb0-b0f27bba06cd",
      "name": "Get File Content",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/ptechfusion19/Repo-B/contents/{{ encodeURIComponent($json.path) }}?ref={{ $('Set Fields').item.json.branchName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        112
      ],
      "id": "29f27bf8-a196-4737-8e23-50c7046899ea",
      "name": "Check If File Exists",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        112
      ],
      "id": "45f7b639-b36f-4e19-a221-8453bf65d9f7",
      "name": "If File Exists"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/ptechfusion19/Repo-B/contents/{{ encodeURIComponent($('Get File Content').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-A: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "28985b7f-0891-47b8-ac2c-02932630f849",
      "name": "Update Existing File",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/ptechfusion19/Repo-B/contents/{{ encodeURIComponent($('Get File Content').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo-A: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        208
      ],
      "id": "e25cedd6-6320-4ba9-9d71-344ff5137d1a",
      "name": "Create New File",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        208,
        112
      ],
      "id": "d14bfe43-f5fb-46e2-951a-5f872236bd57",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/ptechfusion19/Repo-B/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🔄 Sync from Repo-A: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "body",
              "value": "=## Automated Sync from Repository A\n\n**Commit Message:** {{ $('Set Fields').item.json.commitMessage }}\n\n**Commit SHA:** {{ $('Set Fields').item.json.commitSha }}\n\n**Author:** {{ $('Set Fields').item.json.authorName }}\n\n---\n*Auto-generated by n8n workflow*"
            },
            {
              "name": "head",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "base",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        112
      ],
      "id": "c49a5fc1-28a2-4bfe-b3c3-050cb5e00c2f",
      "name": "Create PR",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Get SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA": {
      "main": [
        [
          {
            "node": "Create Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch": {
      "main": [
        [
          {
            "node": "Get Commit Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Details": {
      "main": [
        [
          {
            "node": "Split Out Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Files": {
      "main": [
        [
          {
            "node": "If Not Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Deleted": {
      "main": [
        [
          {
            "node": "Get File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content": {
      "main": [
        [
          {
            "node": "Check If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists": {
      "main": [
        [
          {
            "node": "If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists": {
      "main": [
        [
          {
            "node": "Update Existing File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bc509767-9a3d-4332-9bc2-b4d51c616f0c",
  "meta": {
    "instanceId": "151305d708accaf9ba7df3ae300984e7c14a108b131ed2d081a3bd48f670f5c4"
  },
  "id": "HvCs8lxRVzYnZ8ZR",
  "tags": [
    {
      "updatedAt": "2026-01-12T04:43:33.510Z",
      "createdAt": "2026-01-12T04:43:33.510Z",
      "id": "jx9YrtWBKdpnvTKB",
      "name": "github"
    }
  ]
}