Per To Per/Bi-Directional GitHub Repository Sync Personal B-_A.json
{
  "name": "Bi-Directional GitHub Repository Sync Personal B->A",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "main-branch",
              "leftValue": "={{ $json.body.ref }}",
              "rightValue": "refs/heads/main",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "not-sync",
              "leftValue": "={{ $json.body.head_commit.message }}",
              "rightValue": "Sync from Repo",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2016,
        144
      ],
      "id": "55b2bc2f-8ced-42dc-9d92-f4baeb686e4d",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "branch-name",
              "name": "branchName",
              "value": "=sync-from-repo2-{{ $now.toMillis() }}",
              "type": "string"
            },
            {
              "id": "commit-message",
              "name": "commitMessage",
              "value": "={{ $('Github Trigger').item.json.body.head_commit.message }}",
              "type": "string"
            },
            {
              "id": "commit-sha",
              "name": "commitSha",
              "value": "={{ $('Github Trigger').item.json.body.after }}",
              "type": "string"
            },
            {
              "id": "author-name",
              "name": "authorName",
              "value": "={{ $('Github Trigger').item.json.body.head_commit.author.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        128
      ],
      "id": "c222a663-bda1-46ed-b62c-36dc44d7ac12",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/wajeehaafi-alt/Repo1/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1600,
        128
      ],
      "id": "1fd5a385-94f1-437a-b556-cedc9593c966",
      "name": "Get SHA",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6abV6gyyeUeNE8Xf",
          "name": "Header Auth Account 5 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/wajeehaafi-alt/Repo1/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/{{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.object.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1408,
        128
      ],
      "id": "0f2ae0ef-541b-444a-992d-4621abf3bd8a",
      "name": "Create Branch",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6abV6gyyeUeNE8Xf",
          "name": "Header Auth Account 5 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Ramzanx0553/Repo2/commits/{{ $('Set Fields').item.json.commitSha }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1200,
        128
      ],
      "id": "2c99e09c-6efb-4709-ae64-8123f13f0f3a",
      "name": "Get Commit Details",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6abV6gyyeUeNE8Xf",
          "name": "Header Auth Account 5 For Github"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1008,
        128
      ],
      "id": "fc9cf7ba-6e12-4b1c-80dd-83482bb9a6e7",
      "name": "Split Out Files"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "not-deleted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "removed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -800,
        128
      ],
      "id": "02caf1de-a188-407a-8525-2e31df45b5e7",
      "name": "If Not Deleted"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Ramzanx0553/Repo2/contents/{{ encodeURIComponent($json.filename) }}?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -608,
        112
      ],
      "id": "d8889e51-1065-4f1b-bbbb-c80045761f87",
      "name": "Get File Content",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/wajeehaafi-alt/Repo1/contents/{{ encodeURIComponent($json.path) }}?ref={{ $('Set Fields').item.json.branchName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        112
      ],
      "id": "48bdb31d-dcb7-40f7-a09a-bcd140258acd",
      "name": "Check If File Exists",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6abV6gyyeUeNE8Xf",
          "name": "Header Auth Account 5 For Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        112
      ],
      "id": "a7020ebf-b6b3-47ad-bce0-dc6344346cee",
      "name": "If File Exists"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{REPO1_OWNER}/Repo1/contents/{{ encodeURIComponent($('Get File Content').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo2: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "16ef978c-b8fc-4213-8848-7f8a87a8d4d8",
      "name": "Update Existing File",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GwRnBVdtnmTa6pj8",
          "name": "Header Auth Account 4 For Github"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/wajeehaafi-alt/Repo1/contents/{{ encodeURIComponent($('Get File Content').item.json.path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Sync from Repo2: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $('Get File Content').item.json.content }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        208
      ],
      "id": "279bbcce-0e59-408d-9319-ba3f1acb9ba1",
      "name": "Create New File",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6abV6gyyeUeNE8Xf",
          "name": "Header Auth Account 5 For Github"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        208,
        112
      ],
      "id": "46c37271-fb6b-48b7-9232-061a9aa29173",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/wajeehaafi-alt/Repo1/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🔄 Sync from Repo2: {{ $('Set Fields').item.json.commitMessage }}"
            },
            {
              "name": "body",
              "value": "=## Automated Sync from Repo2\n\n**Commit Message:** {{ $('Set Fields').item.json.commitMessage }}\n\n**Commit SHA:** {{ $('Set Fields').item.json.commitSha }}\n\n**Author:** {{ $('Set Fields').item.json.authorName }}\n\n---\n*Auto-generated by n8n workflow*"
            },
            {
              "name": "base",
              "value": "main"
            },
            {
              "name": "head",
              "value": "={{ $('Set Fields').item.json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        112
      ],
      "id": "e501c417-6818-4c0e-8b60-06212a250852",
      "name": "Create PR",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6abV6gyyeUeNE8Xf",
          "name": "Header Auth Account 5 For Github"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "Ramzanx0553",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Repo2",
          "mode": "list",
          "cachedResultName": "Repo2",
          "cachedResultUrl": "https://github.com/Ramzanx0553/Repo2"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -2272,
        144
      ],
      "id": "a8c72ef9-f191-4ae0-873c-643ba7d006cf",
      "name": "Github Trigger",
      "webhookId": "3f6949ea-c837-4073-99fa-f3347b121baa",
      "credentials": {
        "githubApi": {
          "id": "ZKGYvxYBw2xUEuaV",
          "name": "GitHub Account2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Get SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA": {
      "main": [
        [
          {
            "node": "Create Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch": {
      "main": [
        [
          {
            "node": "Get Commit Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Details": {
      "main": [
        [
          {
            "node": "Split Out Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Files": {
      "main": [
        [
          {
            "node": "If Not Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Deleted": {
      "main": [
        [
          {
            "node": "Get File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content": {
      "main": [
        [
          {
            "node": "Check If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists": {
      "main": [
        [
          {
            "node": "If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists": {
      "main": [
        [
          {
            "node": "Update Existing File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "757e26b7-baec-46ea-9661-0e801cc3ed93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "151305d708accaf9ba7df3ae300984e7c14a108b131ed2d081a3bd48f670f5c4"
  },
  "id": "H9dxzuqMZ0WOLNOi",
  "tags": [
    {
      "updatedAt": "2026-01-12T04:43:33.510Z",
      "createdAt": "2026-01-12T04:43:33.510Z",
      "id": "jx9YrtWBKdpnvTKB",
      "name": "github"
    }
  ]
}